---
import BaseLayout from "@components/layouts/base.astro";
import ProjectCard from "@features/projects/components/ProjectCard.astro";
import { getProjects } from "@features/projects/project.service";

import type { IProject } from "@features/projects/project.type";
import type { ISbResult } from "@sb/storyblok.types";

let stories: ISbResult<IProject>[] = [];
try {
    const data = await getProjects();

    if (data) {
        stories = data;
    }
} catch (error: any) {
    if (error?.status === 404) {
        return Astro.redirect("/404");
    }
}
---

<BaseLayout>
    <main class="container mx-auto max-w-screen-md">
        <section class="grid gap-4 mb-10">
            {stories.length > 0 ? (
                stories.map((story) => <ProjectCard project={story.content} slug={story.slug}/>)
            ) : (
                <p class="text-text-secondary text-center py-8">No projects found.</p>
            )}
        </section>
    </main>
</BaseLayout>
