---

---
<footer class="p-0 md:container mt-auto mx-5 md:mx-auto md:max-w-screen-md">
    <div class="px-0">
        <hr aria-hidden="true" class="border-black border-1 dark:border-white" />
    </div>
    <div class="flex flex-col md:flex-row justify-between items-center align-middle gap-8 md:gap-[1px] py-2">
        <span class="order-1"> Copyright © 2024 </span>
    </div>
</footer>
