---
import BlogKaratula from "@assets/icons/blog.karatula.svg";
import DarkModeToggle from "./DarkModeToggle.vue";

let links = [
  { href: "/blog", text: "Blog", class: "text-black" },
  { href: "/work", text: "Work", class: "bg-pinoy-orange-500 text-white" },
  // { href: "/contact", text: "Contact", bg: "bg-pinoy-orange-500" },
];

const language = Astro.url.searchParams.get("lang") as string;
if (language === "en-ph") {
  links = links.map((link) => {
    link.href = `${link.href}?lang=en-ph`;
    return link;
  });
}
---
<header
  class="p-0 md:container flex justify-between items-center mx-8 md:mx-auto md:max-w-screen-md my-5"
>
  <a href="/" class="text-xl font-bold" data-astro-prefetch>
    <h1 class="font-maragsa text-4xl font-bold">jjspscl</h1>
  </a>
  <nav class="flex space-x-2 font-quiapo text-2xl my-auto">
    {
      links.map(({ href, text, class: linkClass }) => (
        <a 
          href={href} 
          class:list={[linkClass, "rounded"]}
          data-astro-prefetch
          style={
            text === "Blog" 
              ? `background-image: url(${BlogKaratula.src});`
              : undefined
          }
          >
          <span class=" mx-2">{text}</span>
        </a>
      ))
    }
  </nav>
  <div class="flex items-center gap-x-2">
    <DarkModeToggle client:only="vue" />
  </div>
</header>
