$BLACKED: #000000;
$WHITED: #FFFFFF;
$RANGOON-GREEN: #191919;
$DAIRY-CREAM: #FAE4BB;
$FIERY-ORANGE: #B15415;
$BRANDY-PUNCH: #CE8624;
$LG-WHITE-PUNCH: linear-gradient(0,$BRANDY-PUNCH 50%, $WHITED 50%);