@font-face {
    font-family: 'Quiapo';
    src: url('/fonts/Quiapo.ttf')
}

@font-face {
    font-family: 'Kagitingan';
    src: url('/fonts/Kagitingan.otf')
}

@font-face {
    font-family: 'Maragsa';
    src: url('/fonts/Maragsa.woff2')
}