---
import Base from "../../components/layouts/base.astro";


---
<Base>
    <main class="container mx-auto md:mx-auto md:max-w-screen-md h-full">
        <section class="h-full flex justify-center items-center">
            <h1 class="text-4xl font-bold">Contact</h1>
        </section>
    </main>
</Base>