---
---
<style lang="scss" scoped>
    @import '../../../styles/colors.scss';
    h2 {
        color: $DAIRY-CREAM;
        font-size: 2.5rem;
        margin-top: 1rem;
        text-shadow: 5px 5px black;
    }
</style>
<h2 class="kagitingan">FULL-STACK DEVELOPER • COMPUTER ENGINEER</h2>