---
import { useStoryblokApi } from "@storyblok/astro";
import WorkCard from "./WorkCard.astro";

export const prerender = false;
const storyblokApi = useStoryblokApi();
const language = Astro.url.searchParams.get("lang") as string;
const { data: worksData } = await storyblokApi.get(`cdn/stories`, {
  version: import.meta.env.DEV ? "draft" : "published",
  starts_with: "work/",
  language,
  resolve_relations: "tech"
  // page: parseInt(page),
  // per_page: 5,
});
---

<section>
  <ul>
    {worksData.stories.map((story: any) => (
      <li>
       <WorkCard slug={story.slug}/>
      </li>
    ))}
  </ul>
</section>