---
import Header from "@components/Header.astro";
import "../styles/tailwind.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const cookie = Astro.request.headers.get("cookie");

const theme = cookie && cookie?.split("theme=")[1].split(";")[0] || "dark";
---

<html lang="en" data-theme={theme}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>jjspscl {title && `| ${title}`}</title>
    <ViewTransitions />
  </head>
  <body
    class="m-0 p-0 dark:bg-pinoy-blacked-500 bg-pinoy-cream-500 dark:text-white text-black transition-colors duration-500 dark"
  >
    <Header/>
    <main class="grid items-center container mx-auto max-w-screen-md">
      <slot />
    </main>
  </body>
</html>
