---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "../styles/tailwind.css";
import { ViewTransitions } from "astro:transitions";
import { getTheme } from "@utils/theme.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const theme = getTheme(Astro.request);
const language = Astro.url.searchParams.get("lang") as string;
---

<html lang={language === "en-ph" ? "tl" : "en"} data-theme={theme}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>jjspscl {title && `| ${title}`}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
  </ul>
  <body
    class="m-0 p-0 dark:bg-pinoy-blacked-500 bg-pinoy-cream-500 dark:text-white text-black transition-colors duration-500 dark flex flex-col min-h-screen"
  >
    <Header />
    <slot />
    <Footer />
  </body>


</html>
