/* BwModelica */

@font-face {
  font-family: BwModelica;
  src: url('./BwModelica/BwModelica-Thin.woff') format('woff'); 
  font-weight: 100;  
}

@font-face {
  font-family: BwModelica;
  src: url('./BwModelica/BwModelica-Light.woff') format('woff'); 
  font-weight: 200;  
}

@font-face {
  font-family: BwModelica;
  src: url('./BwModelica/BwModelica-Medium.woff') format('woff'); 
  font-weight: 300;  
}

@font-face {
  font-family: BwModelica;
  src: url('./BwModelica/BwModelica-Bold.woff') format('woff'); 
  font-weight: 400;  
}


@font-face {
  font-family: BwModelica;
  src: url('./BwModelica/BwModelica-Black.woff') format('woff'); 
  font-weight: 500;  
}

@font-face {
  font-family: BwModelica;
  src: url('./BwModelica/BwModelica-Regular.woff') format('woff'); 
}
