---
import { useStoryblokApi } from "@storyblok/astro";
import ArticleCard from "@components/blog/ArticleCard.astro";

export const prerender = false;
const storyblokApi = useStoryblokApi();
const language = Astro.url.searchParams.get("lang") as string;
const { data } = await storyblokApi.get(`cdn/stories`, {
  version: import.meta.env.DEV ? "draft" : "published",
  starts_with: "blog/",
  content_type: "article",
  language
  // page: parseInt(page),
  // per_page: 5,
});

const articles = data.stories;
---

<section>
  <ul class="grid grid-cols-1">
    {
      articles?.length > 0 &&
        articles.map((article: any) => {
          article.content.slug = article.slug;
          return (
            <li class="flex">
              <ArticleCard data={article} />
            </li>
          );
        })
    }
  </ul>
</section>
