---
import Root from "@components/layouts/root.astro";
---

<Root>
    <main
        class="flex-1 container mx-auto md:mx-auto md:max-w-screen-md flex flex-col justify-center"
    >
        <section>
            <h1 class="text-9xl font-bold mb-10 highlight-text">
        this is a home page.
            </h1>
        </section>
        <section>
            <a class="text-4xl font-bold pr-4" href="/blog">blog</a>
            <a class="text-4xl font-bold pr-4" href="/projects">projects</a>
        </section>
    </main>
</Root>
