---
import BaseLayout from "@layouts/base.astro";
import { useStoryblokApi } from "@storyblok/astro";

export const prerender = false;
const sbAPI = useStoryblokApi();
const language = Astro.url.searchParams.get("lang") as string;
const { data } = await sbAPI.get(`cdn/stories/home`, {
  version: import.meta.env.DEV ? "draft" : "published",
  language,
});
const { content } = data.story;
const greeting = content.greeting;
---

<BaseLayout>
  <section>
    <h1 class="md:text-9xl text-6xl font-kagitingan mt-40">{greeting}</h1>
    <p class="text-xl">
        My place on the interwebs
    </p>
  </section>
</BaseLayout>
