---
import MyNameTitle from "./components/MyNameTitle.astro";
import SubTitle from "./components/SubTitle.astro";


---
<section id="home" class:list={["home-section", "landing-section"]}>
    <div class="title-container">
        <MyNameTitle/>
        <SubTitle/>
    </div>
</section>

<style scoped>
.landing-section {
    display: flex;
    text-align: center;
}

.title-container {
    /* padding-top: 20%; */
    margin: auto;
    min-width: 100vw;
}

/* MOBILE */
@media (max-width: 800px) {
    .title-container {
        margin: 35vh auto;
    }
}
</style>
