---
import MyNameTitle from "./components/MyNameTitle.astro";
import SubTitle from "./components/SubTitle.astro";


---
<div class="landing-section">
    <div class="title-container">
        <MyNameTitle/>
        <SubTitle/>
    </div>
</div>

<style scoped>
.landing-section {
    display: flex;
    min-height: 100vh;
    text-align: center;
}
.title-container {
    padding-top: 20%;
    min-width: 100vw;
}
</style>
