---
import Card from "@components/Card";

import type { IProject } from "../project.type";


interface Props {
  slug: string;
  project: IProject;
}

const { project } = Astro.props;
const demoUrl = project.demo_url;
---

<Card>
    <h2 class="text-xl font-bold">{project.title}</h2>
    <p class="text-sm mb-5">{project.headline}</p>
    {
        demoUrl && (
            <a class="grid gap-4 hover:underline" href={demoUrl} target="_blank">
                View Demo
            </a>
        )
    }
</Card>
