---
import Card from "@components/Card";
import Tag from "@lib/tag/Tag.astro";

import type { IProject } from "../project.type";

interface Props {
  slug: string;
  project: IProject;
}

const { project } = Astro.props;
const demoUrl = project.demo_url;
const technology = project.technology || [];
---

<Card>
    {
        demoUrl && (
            <a class="absolute top-4 right-4 hover:underline text-sm" href={demoUrl} target="_blank">
                View Demo
            </a>
        )
    }
    <h2 class="text-xl md:text-2xl font-bold mb-2 break-words pr-20">{project.title}</h2>
    <p class="text-base text-text-secondary mb-4">{project.headline}</p>
    {technology.length > 0 && (
        <div class="flex flex-wrap gap-2">
            {technology.map((tech) => (
                <Tag 
                    tag={{ 
                        _uid: tech.content._uid, 
                        title: tech.content.name, 
                        icon: tech.content.logo,
                        component: tech.content.component 
                    }} 
                    colorful 
                />
            ))}
        </div>
    )}
</Card>
