---
import { getBlogs } from "../../api";
import Scaffold from "../../components/Scaffold.vue";
const blogs = await getBlogs();

const mapped = blogs.map(blog => ({
    id: blog.url.split('/').at(-2),
    name: blog.name
}))
---
<Scaffold>
    <p>{JSON.stringify(blogs)}</p>
    <p>{JSON.stringify(mapped)}</p>
</Scaffold>