---
import HeaderLink from "./HeaderLink.astro";

let links: {
    href: string;
    text: string;
}[] = [
    { href: "/blog", text: "blog" },
    { href: "/projects", text: "projects" },
];

---

<header
    class="p-0 md:container flex justify-between items-center mx-8 md:mx-auto md:max-w-screen-md my-5"
>
    <a class="text-xl font-bold" data-astro-prefetch href="/">
        <h1 class="text-4xl font-bold">jjspscl.</h1>
    </a>
    <nav class="flex text-2xl my-auto">
        {
            links.map(({ href, text }) => (
                <HeaderLink href={href} label={text} />
            ))
        }
    </nav>
</header>
