---
import HeaderLink from "./HeaderLink.astro";
import { links } from "../../lib/constants/links";
import Logo from "../assets/Logo.astro";

const currentPath = Astro.url.pathname;
const filteredLinks = links.filter(link => link.href !== currentPath);
---

<header
    class="p-0 md:container flex justify-between items-center mx-8 md:mx-auto md:max-w-screen-md my-5"
>
    <a class="font-bold flex items-center gap-2" href="/">
        <Logo width="36" height="36" />
    </a>
    <nav class="flex text-lg md:text-xl my-auto">
        {
            filteredLinks.map(({ href, text }) => (
                <HeaderLink 
                    href={href} 
                    label={text} 
                />
            ))
        }
    </nav>
</header>
