---
import { renderRichText } from "@storyblok/astro";

import Me from "../../components/assets/Me.astro";
import Full from "../../components/layouts/full.astro";
import { getMe } from "../../features/about/about.service";
import { TRANSITION_NAMES } from "../../lib/constants/transition";

const me = await getMe();

const aboutMe = renderRichText(me.intro_description);
---
<Full>
    <main class="h-full flex flex-col gap-y-7">
        <section class="h-full flex justify-center items-center py-10">
            <a aria-label="Go home" class="flex items-center" href="/">
                <span transition:name={TRANSITION_NAMES.MY_IMAGE}>
                    <Me />
                </span>
            </a>
        </section>
        <section class="bg-vhs-cream text-vhs-black py-10">
            <div class="container mx-auto max-w-screen-md px-4">
                <div class="md:grid md:grid-cols-2 md:gap-x-10">
                    <h2 class="text-2xl font-bold text-center md:text-right mb-4 md:mb-0">{me.intro_label}</h2>
                    <div class="prose dark:prose-invert prose-headings:mb-1 prose-sm text-center md:text-left">
                        <Fragment set:html={aboutMe}/>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Full>
